<div>
  <b>Solde : {{ wallet }} €</b>
  <br>
  <button (click)="depositFunds()">Dépot</button>
  <button (click)="withdrawalFunds()">Retrait</button>
</div>

<div class="history-of-transaction">
  <h2>Historique des transactions</h2>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Montant</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of history">
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.amount }} €</td>
        <td>{{ transaction.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>
</div>
