button {
  width: 100%;
  background-color: #e63946;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 10px;
}

button:hover {
  background-color: #f77f00;
  transform: scale(1.05);
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.history-of-transaction {
  position: fixed;
  top: 75px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 350px;
  max-height: 550px;
  overflow-y: auto;
}

.history-of-transaction h2 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #555;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  font-size: 14px;
  color: #555;
}

td:nth-child(2) {
  font-weight: bold;
  color: #007bff;
}

td:nth-child(3) {
  font-style: italic;
}

