<div class="cart">
  <h2>Votre panier</h2>
  <div *ngIf="bets.length === 0">
    <p>Votre panier est vide.</p>
  </div>
  <div *ngIf="bets.length > 0">
    <div class="bet" *ngFor="let bet of bets">
      <p>Match: {{ bet.awayTeam }} vs {{ bet.homeTeam }}</p>
      <p>Mon pari: {{ bet.outcome === 'homeTeam' ? bet.homeTeam : bet.outcome === 'awayTeam' ? bet.awayTeam : 'Égalité' }}</p>
      <p>Mise: {{ bet.stake }} €</p>
      <p>Cote: {{ bet.odd }}</p>
      <p *ngIf="!cartService.getCombined()">Gain potentiel {{ bet.stake * bet.odd }} €</p>
    </div>
    <div class="bet-type-switch">
      <label class="combined">
        <input disabled type="checkbox" [(ngModel)]="isCombined" (change)="toggleBetType()">
        Combiné (fonctionnalité future)
      </label>
    </div>
    <button (click)="clearBets()">Supprimer les paris</button>
    <button (click)="placeBet()" [disabled]="!this.authService.isAuthenticated()">Valider les paris</button>
  </div>
</div>
